.venv/
.venv310/
venv/
__pycache__/
.pytest_cache/
*.pyc
*.egg-info/
.idea/
.env
data/uploads/*
data/chunks/*
data/faiss/*
data/logs/*
data/sqlite/*
data/frontend/*
!data/uploads/.gitkeep
!data/chunks/.gitkeep
!data/faiss/.gitkeep
!data/logs/.gitkeep
!data/sqlite/.gitkeep
!data/frontend/.gitkeep
